.headerMenu, .footerMenu {
	display: block;
}
.footerMenu {
	justify-content: center;
}
.headerMenu ul, .footerMenu ul {
	list-style: none;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}
.headerMenu ul li, .footerMenu ul li {
	background: url(/images/separator.png) no-repeat 0 50%;
	vertical-align: middle;
	display: inline-block;
	padding: 0 0 0 20px;
	margin: 0 0 0 20px;
	text-transform:capitalize;
}
.headerMenu ul li { background: none; }
.headerMenu ul li a {
	color: #333;
}
.headerMenu ul li:hover a, .footerMenu ul li:hover a { text-decoration:none; }
.headerMenu ul li:first-child, .footerMenu ul li:first-child {
	background: none;
	margin: 0;
	padding: 0;
}
.headerMenu .headerMenuDropdown { position: relative; }
.headerMenu .headerMenuDropdown ul {
	background-color: #fff;
	position: absolute;
	left: -8px;
	top: 21px;
	width: 110px;
	display: none;
	z-index: 9999;
}
.headerMenu .headerMenuDropdown ul li {
	display: block;
	padding: 6px 10px;
}
.headerMenu .headerMenuDropdown:hover > ul {
	display: block;
}
.headerTop {
	padding: 0 20px;
}
@media screen and (max-width: 786px) {
	.headerMenu .headerMenuDropdown ul {
		left: -35px;
	}
	.headerMenu ul li {
		margin: 0;
	}
}